@use 'src/assets/utilities/_variables.scss';

.back {
    padding: 32px 0px 0px 0px !important;
}

img {
    pointer-events: none;
}

.back img {
    width: 24px;
    margin-bottom: 3px;
}

.back span {
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    font-family: variables.$font-primary;
    padding-left: 4px;
}

.img-01 {
    width: 100%;
    height: auto;
}

.footer-links {
    padding: 32px 0px 80px 0px !important;
}

.footer-links h2 {
    font-family: variables.$font-primary;
    font-size: 64px;
    line-height: 80px;
    font-weight: 500;
    color: #000;
    text-align: center;
    padding: 0px 0px 0px 0px;
}

.footer-links p {
    font-family: variables.$font-primary;
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    color: #000;
    padding: 40px 0px 0px 0px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    margin-top: -0.5em;
    border: 10px solid rgba(33, 150, 243, 1.0);
    border-radius: 100%;
    border-bottom-color: transparent;
    -webkit-animation: spinner 1s linear 0s infinite;
    animation: spinner 1s linear 0s infinite;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 2560px) {
    .footer-links h2 {
        font-size: 64px;
        line-height: 80px;
        padding: 0px 0px 0px 0px;
    }

    .footer-links p {
        font-size: 40px;
        line-height: 48px;
        padding: 40px 0px 0px 0px;
    }

    .back img {
        width: 24px;
        margin-bottom: 3px;
    }

    .back span {
        font-size: 16px;
        line-height: 32px;
    }

    .back {
        padding: 32px 0px 8px 0px !important;
    }
}

@media (max-width: 1440px) {
    .footer-links h2 {
        font-size: 64px;
        line-height: 80px;
        padding: 0px 0px 0px 0px;
    }

    .footer-links p {
        font-size: 40px;
        line-height: 48px;
        padding: 40px 0px 0px 0px;
    }

    .container {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }

    .back img {
        width: 24px;
        margin-bottom: 3px;
    }

    .back span {
        font-size: 16px;
        line-height: 32px;
    }

    .back {
        padding: 32px 0px 8px 0px !important;
    }
}

@media (max-width: 1024px) {
    .footer-links h2 {
        font-size: 58px;
        line-height: 72px;
        padding: 0px 0px 0px 0px;
    }

    .footer-links p {
        font-size: 36px;
        line-height: 44px;
        padding: 40px 0px 0px 0px;
    }

    .container {
        padding-right: calc(var(--bs-gutter-x) * 1.5);
        padding-left: calc(var(--bs-gutter-x) * 1.5);
    }

    .back img {
        width: 24px;
        margin-bottom: 3px;
    }

    .back span {
        font-size: 16px;
        line-height: 32px;
    }

    .back {
        padding: 32px 0px 8px 0px !important;
    }
}

@media (max-width: 768px) {
    .footer-links h2 {
        font-size: 48px;
        line-height: 56px;
        padding: 0px 0px 0px 0px;
    }

    .footer-links p {
        font-size: 32px;
        line-height: 40px;
        padding: 40px 0px 0px 0px;
    }

    .container {
        padding-right: calc(var(--bs-gutter-x) * 1.5);
        padding-left: calc(var(--bs-gutter-x) * 1.5);
    }

    .back img {
        width: 24px;
        margin-bottom: 3px;
    }

    .back span {
        font-size: 16px;
        line-height: 32px;
    }

    .back {
        padding: 32px 0px 16px 0px !important;
    }
}

@media (max-width: 430px) {
    .footer-links h2 {
        font-size: 34px;
        line-height: 42px;
        padding: 16px 0px 0px 0px;
    }

    .footer-links p {
        font-size: 28px;
        line-height: 36px;
        padding: 24px 0px 0px 0px;
    }

    .container {
        padding-right: calc(var(--bs-gutter-x) * 1.2);
        padding-left: calc(var(--bs-gutter-x) * 1.2);
    }

    .back img {
        width: 24px;
        margin-bottom: 3px;
    }

    .back span {
        font-size: 16px;
        line-height: 32px;
    }

    .back {
        padding: 32px 0px 16px 0px !important;
    }
}

@media (max-width: 362px) {
    .footer-links h2 {
        font-size: 28px;
        line-height: 36px;
        padding: 28px 0px 0px 0px;
    }

    .footer-links p {
        font-size: 24px;
        line-height: 32px;
        padding: 20px 0px 0px 0px;
    }

    .back img {
        width: 20px;
        margin-bottom: 0px;
    }

    .back span {
        font-size: 14px;
        line-height: 22px;
    }

    .back {
        padding: 32px 0px 16px 0px !important;
    }
}

@media (max-width: 320px) {
    .footer-links h2 {
        font-size: 28px;
        line-height: 36px;
        padding: 28px 0px 0px 0px;
    }

    .footer-links p {
        font-size: 24px;
        line-height: 32px;
        padding: 20px 0px 0px 0px;
    }

    .back img {
        width: 20px;
        margin-bottom: 0px;
    }

    .back span {
        font-size: 14px;
        line-height: 22px;
    }

    .back {
        padding: 32px 0px 16px 0px !important;
    }
}

.row,
.row>*,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-4,
.col-6,
.col-8,
.col-10,
.col-12 {
    padding-left: 0px;
    padding-right: 0px;
}