$primary-color: black;
$second-color: #fff;
$tertiary-color: #79B58A;
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Bitter', serif;
$font-tertiary: 'Baloo', sans-serif;
$font-fifth: 'Inter-ExtraBold', sans-serif;
$font-sixth: 'Inter-Bold', sans-serif;
$font-seventh: 'Inter-Medium', sans-serif;