<div class="container">
    <div class="row">
        <div class="col-12 back cursor-pointer">
            <img src="assets/images/backicon2.svg" class="" (click)="navigateToHome()">
            <span (click)="navigateToHome()">Back</span>
        </div>
        <div class="col-12 error01">
            <img src="assets/images/Error-icon.svg" class="lock">
        </div>
        <div class="col-12">
            <h1 class="protected">Site under construction.</h1>
            <p class="detailsone">My website is under construction. All my portfolio work will be showcased during the
                call.
                Thank you for your patience. We're excited to reveal the revamped site soon!</p>
        </div>
    </div>
</div>