<div class="password-overlay">
    <div class="row">
        <form class="col-xl-4 col-lg-4 col-md-6 col-10" #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm)">
            <!-- <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" ngModel required>
               
            </div> -->
            <label for="password">Password</label>
            <div class="password-input">
                <input [type]="inputType" id="password" name="password" [(ngModel)]="password" required>
                <span class="eye-icon" *ngIf="password !== '' && password !== null && password !== undefined">
                    <i *ngIf="inputType === 'password'" class="fa fa-eye" aria-hidden="true"
                        (click)="togglePasswordVisibility(true)"></i>
                    <i *ngIf="inputType === 'text'" class="fa fa-eye-slash" aria-hidden="true"
                        (click)="togglePasswordVisibility(false)"></i>
                </span>
                <div *ngIf="showError" class="error-msg">Please enter a valid password!</div>
            </div>

            <button class="btn" type="submit">Submit</button>
        </form>
    </div>
</div>