<div class="header">
    <div class="container">
        <div class="row">
            <!-- <app-header class="PadT32"></app-header> -->
            <div class="row">
                <div class="col-lg-7 col-md-9">
                    <div class="name-title">
                        <h2>I’m <b>Midhun</b>, I can assist you with your business, my work speaks louder than words
                        </h2>
                    </div>
                </div>
            </div>
            <!-- <div class="row name-role-spacing">
                <div class="mail">
                    midhunvijayan078@gmail.com
                </div>
                <div class="phone_no">
                    +91-8978318657
                </div>
            </div> -->
            <div class="row name-role-spacing">
                <div class="col-xl-5 col-lg-6 col-md-7">
                    <div class="job-title">
                        <ul class="d-flex justify-content-start">
                            <li>UI.</li>
                            <li><span class="outline">UX.</span></li>
                        </ul>
                    </div>

                </div>
                <div class="col-xl-7 col-lg-6 col-md-5 d-flex justify-content-start exp-card-spacing">
                    <div class="experience">
                        <div class="">
                            <img class="cursor-pointer" src="assets/images/plus-1.svg" alt="Me">
                            <h4>{{ expCount}}<sub class="year">Y</sub></h4>
                            <p>Experience</p>
                        </div>

                    </div>
                    <div class="projects">
                        <div class="">
                            <img class="cursor-pointer" src="assets/images/plus-2.svg" alt="Me">
                            <h4>{{ projectCount}}</h4>
                            <p>Projects</p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-12 d-flex justify-content-between subinfo-spacing">
                    <div class="sm-text">Every pixel tells a story.</div>
                    <div class="sm-text fw-bold">
                        <span class="me-3">Are you curious</span>
                        <img class="cursor-pointer smile-img" src="assets/images/smily.png" alt="Me">
                    </div>
                </div>
            </div> -->
            <div class="row project-section">
                <div class="item1-space col-md-4">
                    <div class="work-card item1">
                        <img class="card-01" src="assets/images/card-01.png">
                        <h4 class="mini-text">Mobile Apps</h4>
                        <img class="item1-handle cursor-pointer" src="assets/images/clickable-icon.svg" alt="navi"
                            (click)="navigatetoDetails('agri')">
                    </div>
                </div>
                <div class="col-md-8 item2-space">
                    <div class="work-card item2">
                        <div class="card-text">
                            <h4 class="mini-text">Dashboards and <br />Webapps</h4>
                        </div>
                        <img class="card-02" src="assets/images/card-02.png">
                        <img class="item2-handle cursor-pointer" src="assets/images/clickable-dashboard.svg" alt="navi"
                            (click)="navigatetoDetails('mentorship')">
                    </div>
                </div>
            </div>
            <div class="row name-role-spacing">
                <div class="item3-space col-md-6">
                    <div class="work-card item3">
                        <div class="card-text">
                            <h4 class="mini-text">Landing pages</h4>
                        </div>
                        <img class="card-03" src="assets/images/card-03.png">
                        <img class="item3-handle cursor-pointer" src="assets/images/clickable-landing.svg" alt="navi"
                            (click)="navigateToUnderConstruction()">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="item3-space item4-space col-md-6">
                            <div class="work-card item4">
                                <img class="card-04" src="assets/images/card-04.png">
                                <h4 class="mini-text">Branding</h4>
                                <img class="item4-handle cursor-pointer" src="assets/images/clickable-branding.svg"
                                    alt="navi" (click)="navigatetoDetails('branding')">
                            </div>
                        </div>
                        <div class=" col-md-6 item4-space">
                            <div class="small-card item5">
                                <img class="card-05" src="assets/images/blender.png">
                                <h4 class="mini-text">Illustrations</h4>
                                <img class="item5-handle cursor-pointer" src="assets/images/clickable-Illustrations.svg"
                                    alt="navi" (click)="navigatetoDetails('illustrations')">
                            </div>
                            <div class="small-card item6">
                                <img class="card-06" src="assets/images/card-06.png">
                                <h4 class="mini-text">Icons</h4>
                                <img class="item6-handle cursor-pointer" src="assets/images/clickable-icons.svg"
                                    alt="navi" (click)="navigateToUnderConstruction()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row passion">
                <div class="col-md-6 pe-lg-8 ">
                    <h2 class="sticky-top passion-header">
                        Professional Expertise & Core Competencies
                    </h2>
                </div>
                <div class="col-md-6">
                    <div class="passion-content" *ngFor="let item of expertise">
                        <h2>
                            {{ item.title}}
                        </h2>
                        <p>
                            {{ item.desc}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="career_section" id="portfolio">
    <div class="container">
        <div class="row project-intro-spacing">
            <div class="col-lg-6 project-intro">
                <h1>Portfolio</h1>
                <p>Only a curated selection of works is showcased here in adherence to company rules and regulations.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row portfolio-box01" (click)="navigatetoDetails('mentorship')">
            <div class="col-md-6 col-12 portfolio-card01">
            </div>
            <div class="col-md-6 col-12 portfolio-content">
                <div class="row portfolio-header portfolio-header01-spacing">
                    <h2>Startup Mentorship</h2>
                    <p>Dashboard & Websites</p>
                </div>
                <div class="row portfolio-subdetails">
                    <ul class="d-flex flex-row portfolio-label">
                        <li>Year</li>
                        <li>Role</li>
                        <li>Timeline</li>
                    </ul>
                    <ul class="d-flex flex-row portfolio-value">
                        <li>2020</li>
                        <li>UI</li>
                        <li>6 Weeks</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row portfolio-box01" (click)="navigatetoDetails('designsystem')">
            <div class="col-md-6 portfolio-card02">
            </div>
            <div class="col-md-6 portfolio-content">
                <div class="row portfolio-header portfolio-header01-spacing">
                    <h2>Sass Design System</h2>
                    <p>Design system & Reskinning</p>
                </div>
                <div class="row portfolio-subdetails">
                    <ul class="d-flex flex-row portfolio-label">
                        <li>Year</li>
                        <li>Role</li>
                        <li>Timeline</li>
                    </ul>
                    <ul class="d-flex flex-row portfolio-value">
                        <li>2023</li>
                        <li>UI,UX</li>
                        <li>7 Weeks</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 box02-Rspacing">
                <div class="row portfolio-box02" (click)="navigatetoDetails('agri')">
                    <img src="assets/images/card03.png" alt="Card Image" class="col-12 portfolio-card03">
                    <div class="col-12 portfolio-content">
                        <div class="portfolio-header portfolio-header-spacing">
                            <h2>Agri Marketplace</h2>
                            <p>Mobile App & Dashboard</p>
                        </div>
                        <div class="portfolio-subdetails">
                            <ul class="d-flex flex-row portfolio-label">
                                <li>Year</li>
                                <li>Role</li>
                                <li>Timeline</li>
                            </ul>
                            <ul class="d-flex flex-row portfolio-value">
                                <li>2023</li>
                                <li>UX,UI</li>
                                <li>1 Year</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 box02-Lspacing">
                <div class="row portfolio-box02" (click)="navigatetoDetails('construction')">
                    <img src="assets/images/card04.png" alt="Card Image" class="col-12 portfolio-card03">
                    <div class="col-12 portfolio-content">
                        <div class="portfolio-header portfolio-header-spacing">
                            <h2>Construction Service</h2>
                            <p>Ecommerce website</p>
                        </div>
                        <div class="portfolio-subdetails">
                            <ul class="d-flex flex-row portfolio-label">
                                <li>Year</li>
                                <li>Role</li>
                                <li>Timeline</li>
                            </ul>
                            <ul class="d-flex flex-row portfolio-value">
                                <li>2020</li>
                                <li>UI</li>
                                <li>4 Weeks</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row portfolio-box01" (click)="navigatetoDetails('branding')">
            <div class="col-md-6 portfolio-card05">
            </div>
            <div class="col-md-6 portfolio-content">
                <div class="row portfolio-header portfolio-header01-spacing">
                    <h2>Easy Pay Branding</h2>
                    <p>Logo Design</p>
                </div>
                <div class="row portfolio-subdetails">
                    <ul class="d-flex flex-row portfolio-label">
                        <li>Year</li>
                        <li>Role</li>
                        <li>Timeline</li>
                    </ul>
                    <ul class="d-flex flex-row portfolio-value">
                        <li>2023</li>
                        <li>Visual</li>
                        <li>2 Days</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 box02-Rspacing">
                <div class="row portfolio-box02" (click)="navigatetoDetails('gear360')">
                    <img src="assets/images/card06.png" alt="Card Image" class="col-12 portfolio-card03">
                    <div class="col-12 portfolio-content">
                        <div class="portfolio-header portfolio-header-spacing">
                            <h2>Gear 360</h2>
                            <p>Visual Design</p>
                        </div>
                        <div class="portfolio-subdetails">
                            <ul class="d-flex flex-row portfolio-label">
                                <li>Year</li>
                                <li>Role</li>
                                <li>Timeline</li>
                            </ul>
                            <ul class="d-flex flex-row portfolio-value">
                                <li>2018</li>
                                <li>Visual</li>
                                <li>1 Day</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 box02-Lspacing">
                <div class="row portfolio-box02" (click)="navigatetoDetails('illustrations')">
                    <img src="assets/images/card07.png" alt="Card Image" class="col-12 portfolio-card03">
                    <div class="col-12 portfolio-content">
                        <div class="portfolio-header portfolio-header-spacing">
                            <h2>Concept illustrations</h2>
                            <p>Visual Design</p>
                        </div>
                        <div class="portfolio-subdetails">
                            <ul class="d-flex flex-row portfolio-label">
                                <li>Year</li>
                                <li>Role</li>
                                <li>Timeline</li>
                            </ul>
                            <ul class="d-flex flex-row portfolio-value">
                                <li>2023</li>
                                <li>Visual</li>
                                <li>1 Day</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row footer-spacing">
            <!-- <div class="col-12 text-center all_works_spacing">
                <a (click)="navigateToUnderConstruction()" class="all-link">View All Works#</a>
            </div> -->
            <app-footer [showFreelance]="true" (scrolltotop)="scrollToTop()"></app-footer>
        </div>
    </div>
</section>