@use 'src/assets/utilities/_variables.scss';

h2 {
  margin-bottom: 0rem;
}

ol,
ul {
  padding-left: 0rem;
  margin-bottom: 0rem;
}

.header {
  height: auto;
  // background: url('../../assets/images/Line-BG.svg') repeat 0px top #fff;
  background-size: contain;
  // width: 100%;
}

.career_section {
  background: black;
  overflow: hidden;
}

.me-3 {
  margin-right: 1rem !important;
}

.name-title h2 {
  font-size: 40px;
  line-height: 56px;
  font-weight: 400;
  color: variables.$primary-color;
  letter-spacing: -1px;
  padding: 140px 0px 12px 0px;
}

.mail {
  font-size: 16px;
  font-weight: 400;
  color: variables.$primary-color;
  width: 20%;
}

.phone_no {
  font-size: 16px;
  font-weight: 400;
  color: variables.$primary-color;
  letter-spacing: 8px;
  text-decoration: none;
  width: 80%;
  padding-top: 0px;
}

.job-title ul {
  padding: 0;
  list-style: none;
  padding-top: 24px;
}

.job-title ul li {
  font-size: 164px;
  font-weight: 800;
  color: #000;
  font-family: variables.$font-fifth;
  line-height: normal;
}

.job-title ul li span.outline {
  -webkit-text-stroke: 3px #000;
  -webkit-text-fill-color: white;
  // outline: #000;
  // color: white;
  // background-color: white;
  // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.smile-img {
  width: 25px;
}

.subinfo-spacing {
  padding-bottom: 16px;
}

.sm-text {
  font-size: 16px;
}

.experience {
  width: 143px;
  background-color: #28B4A6;
  padding: 14px 19px 14px 19px;
  border-radius: 24px 24px 0px 24px;
  border: 2px solid #000;
  box-shadow: 6px 6px 0px 1px #000;
  height: fit-content;
  margin-right: 16px;
  position: relative;
}

.experience h4,
.projects h4 {
  font-size: 64px;
  font-weight: 700;
  font-family: variables.$font-sixth;
  color: #000;
  line-height: 72px;
  margin: 0px !important;
  animation: increaseNumber 2s linear;
}

sub.year {
  font-size: 16px;
  font-weight: 600;
  font-family: variables.$font-primary;
  color: #000;
  line-height: 24px;
}

.experience p,
.projects p {
  font-size: 16px;
  font-weight: 400;
  font-family: variables.$font-primary;
  color: #000;
  line-height: 24px;
  margin: 0px !important;
}

.projects img {
  position: absolute;
  right: 5px;
  top: 22px;
  width: auto;
}

.experience img {
  position: absolute;
  right: 12px;
  top: 22px;
  width: auto;
}

.projects {
  width: 143px;
  background-color: #90A7EB;
  padding: 14px 19px 14px 19px;
  border: 2px solid #000;
  box-shadow: 6px 6px 0px 1px #000;
  height: fit-content;
  position: relative;
}

.exp-card-spacing {
  padding: 0px 0px 0px 0px;
}

.project-section {
  padding: 100px 0px 0px 0px !important;
}

.no-pad {
  padding: 0px !important;
}

.no-Rpad {
  padding-right: 0px !important;
}

.no-Lpad {
  padding-left: 0px !important;
}

.passion {
  padding-top: 88px !important;
  padding-bottom: 112px !important;
}

.passion-content {
  padding-bottom: 48px;
}

.passion-content h2 {
  border: 1px solid #000;
  font-family: variables.$font-seventh;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #000;
  width: fit-content;
  padding: 4px 16px;
  margin-bottom: 16px;
}

.passion-content p {
  font-family: variables.$font-primary;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #000;
}

.passion-header {
  font-family: variables.$font-seventh;
  font-size: 56px;
  line-height: 72px;
  font-weight: 500;
  padding: 8px 112px 0px 0px;
}

.project-intro-spacing {
  padding-top: 100px !important;
  padding-bottom: 80px !important;
}

.project-intro h1 {
  font-family: variables.$font-primary;
  color: #fff;
  font-size: 56px;
  line-height: 72px;
  padding-bottom: 24px;
  font-weight: 500;
}

.project-intro p {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-family: variables.$font-primary;
  color: #CCCCCC;
}

.work-card {
  // padding: 32px;
  // border-radius: 16px;
  color: #fff;
  margin: 6px 0;
  position: relative;
  height: 384px;
  overflow: hidden;
}

.small-card {
  // padding: 10px;
  // border-radius: 16px;
  color: #fff;
  position: relative;
  height: 184px;
  overflow: hidden;
}

.item1 h4 {
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  position: absolute;
  left: 32px;
  bottom: 32px;
  margin-bottom: 0px !important;
}

.item2 h4,
.item3 h4 {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 0px !important;
}

.item4 h4,
.item5 h4,
.item6 h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  position: absolute;
  left: 24px;
  bottom: 24px;
  margin-bottom: 0px !important;
}

.item4 h4,
.item6 h4 {
  color: #000;
}

.item1-handle,
.item2-handle,
.item3-handle {
  position: absolute;
  right: 32px;
  bottom: 32px;
  transition: transform 0.3s ease-in-out;
}

.item4-handle,
.item5-handle,
.item6-handle {
  position: absolute;
  right: 24px;
  bottom: 24px;
  width: auto;
  transition: transform 0.3s ease-in-out;
}

.item1-space,
.item3-space {
  padding-right: 5px !important;
}

.item2-space,
.item4-space {
  padding-left: 5px !important;
}

.work-card.item1:hover,
.work-card.item2:hover,
.work-card.item3:hover,
.work-card.item4:hover,
.small-card.item5:hover,
.small-card.item6:hover {
  border-radius: 32px;
}

.work-card.item1,
.work-card.item2,
.work-card.item3,
.work-card.item4,
.small-card.item5,
.small-card.item6 {
  transition: border-radius .3s ease-in-out;
}

.work-card.item1 .card-01:hover,
.work-card.item2 .card-02:hover,
.work-card.item3 .card-03:hover,
.work-card.item4 .card-04:hover,
.small-card.item5 .card-05:hover,
.small-card.item6 .card-06:hover,
.work-card.item1 .item1-handle:hover,
.work-card.item2 .item2-handle:hover,
.work-card.item3 .item3-handle:hover,
.work-card.item4 .item4-handle:hover,
.small-card.item5 .item5-handle:hover,
.small-card.item6 .item6-handle:hover {
  transform: scale(1.1);
}

.item1 {
  background-color: #79B58A;
  // background: url('../../assets/images/card-01.png') no-repeat center center/90% auto #79B58A;
}

.work-card.item1 .card-01 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  clip-path: padding-box;
  background-repeat: no-repeat;
  transition: transform .4s ease-in-out;
}

.item2 {
  background-color: #111C39;
  // background: url('../../assets/images/card-02.png') no-repeat center center/100% auto #111C39;
}

.card-text {
  position: absolute;
  z-index: 1;
  top: 32px;
  left: 32px;
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0);
}

.work-card.item2 .card-02 {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  clip-path: padding-box;
  background-repeat: no-repeat;
  transition: transform .3s ease-in-out;
}

.work-card.item3 .card-03 {
  // margin-top: -64px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  clip-path: padding-box;
  background-repeat: no-repeat;
  transition: transform .3s ease-in-out;
}

.item3 {
  background-color: #E27F7F;
  // background: url('../../assets/images/card-03.png') no-repeat center center/100% auto #E27F7F;
}

.item4 {
  background-color: #DCDE81;
  // background: url('../../assets/images/card-04.png') no-repeat center center/100% auto #DCDE81;
}

.work-card.item4 .card-04 {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  clip-path: padding-box;
  background-repeat: no-repeat;
  transition: transform .3s ease-in-out;
}

.item5 {
  background-color: #8d6bb3;
  margin: 6px 0;
  // background: url('../../assets/images/card-05.png') no-repeat center center/100% auto #90A7EB;
}

.small-card.item5 .card-05 {
  display: block;
  width: 100%;
  // height: 100%;
  object-fit: cover;
  object-position: center;
  clip-path: padding-box;
  background-repeat: no-repeat;
  transition: transform .3s ease-in-out;
}

.item6 {
  border: 1px solid #3E3E3E;
  background-color: #fff;
  margin: 12px 0;
  // background: url('../../assets/images/card-06.png') no-repeat center center/100% auto #fff;
}

.small-card.item6 .card-06 {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  clip-path: padding-box;
  background-repeat: no-repeat;
  transition: transform .3s ease-in-out;
}

.carousel_spacing {
  padding-top: 112px !important;
  padding-bottom: 48px;
}

.all_works_spacing {
  padding-bottom: 160px;
}

.navi-icons {
  height: 50px !important;
}

swiper {
  height: auto;
  width: 100%;
}

.swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 100%;
  transition-property: transform, -webkit-transform;
  position: relative;
  background-position: center;
  background-size: cover;
  width: 800px;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

// .swiper-button-prev,
// .swiper-button-next {
//   // top: auto !important;
//   // bottom: 0px;
// }

.swiper-button-prev {
  // left: 65%;
  padding: 32px 0px 32px 0px;
}

.swiper-button-next {
  // right: 26%;
  padding: 32px 0px 32px 0px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: '';
}

.subheading_hei {
  height: 80px
}

img.slider-img {
  border-radius: 32px;
}

.swiper-slide.swiper-slide-next,
.swiper-slide.swiper-slide-prev {

  h1.slide-title,
  .slide-subheading,
  .navi-icons {
    transform: scale(0.8);
    opacity: 0;
    transition: transform 2s, opacity 1s;
  }
}

// ::ng-deep .owl-carousel .owl-item:not(.center) {
//   transform: scale(0.8);
//   opacity: .5;

//   h1.slide-title,
//   .slide-subheading {
//     transform: scale(0.8);
//     opacity: 0;
//     transition: transform 2s, opacity 1s;
//   }
// }

h1.slide-title {
  font-size: 64px;
  line-height: 72px;
  color: #fff;
  font-family: variables.$font-primary;
  font-weight: 400;
  padding-bottom: 16px !important;
}

.slide-subheading {
  line-height: 24px;
  color: #fff;
  font-family: variables.$font-primary;
  font-weight: 400;
}

.subheading-pading {
  padding-top: 24px !important;
}

.sub-year {
  color: #828282;
}

::ng-deep .custom-pagination .swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background-color: #000 !important;
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  outline: 2px solid #fff;
}

::ng-deep .custom-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  width: 32px !important;
  border-radius: 16px !important;
  background-color: #fff !important;
}

::ng-deep .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px !important;
}

.gmailicon {
  width: auto;
}

.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  display: inline;
  margin-right: 32px;
}

.separator {
  content: '';
  width: 1px;
  height: 16px;
  background-color: #666666;
}

.social-links a,
.SmoothmyTop a,
.conatct-link {
  text-decoration: none;
}

.all-link {
  color: #e7f084;
  font-size: 40px;
  font-weight: 600;
  font-family: variables.$font-primary;
  line-height: 48px;
}

.h2-header {
  color: #fff;
  font-size: 88px;
  font-weight: 800;
  font-family: variables.$font-primary;
  line-height: 88px;
}

.freelance-text {
  color: #E7F084 !important;
}

.freelance-text span {
  text-decoration: line-through;
  text-decoration-color: #E27F7F;
}

.white-svg {
  fill: #ffffff;
}

.portfolio-box01 {
  border: 1px solid #474747;
  margin-bottom: 40px !important;
  height: 400px;
  display: flex;
  cursor: pointer;
  --c: #fff;
  --b: 1px;
  --g: 5px;

  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%, var(--c) 0;
  background:
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
    conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
  transition: .3s, background-position .3s .3s;
}

.portfolio-box01:hover,
.portfolio-box02:hover {
  --_i: 100%;
  transition: .3s, background-size .3s .3s;
}

.portfolio-box02 {
  border: 1px solid #474747;
  margin-bottom: 40px !important;
  // height: 400px;
  display: flex;
  cursor: pointer;
  // overflow: hidden;
  cursor: pointer;
  --c: #fff;
  --b: 1px;
  --g: 5px;

  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%, var(--c) 0;
  background:
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
    conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
  transition: .3s, background-position .3s .3s;
}

.portfolio-content {
  padding: 48px !important;
  // height: 100%;
  position: relative;
}

.portfolio-header h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  color: #fff;
  font-family: variables.$font-seventh;
  padding-bottom: 14px;
}

.portfolio-header p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #A4A4A4;
  font-family: variables.$font-primary;
}

.portfolio-header-spacing {
  margin-bottom: 96px;
}

.portfolio-header01-spacing {
  margin-bottom: 0px !important;
}

.box02-Lspacing {
  padding-left: 20px !important;
}

.box02-Rspacing {
  padding-right: 20px !important;
}

.portfolio-subdetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 48px;
}

.portfolio-label li,
.portfolio-value li {
  width: 33.33%;
  list-style: none;
}

.portfolio-label li {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #A4A4A4;
  font-family: variables.$font-primary;
}

.portfolio-value li {
  padding-top: 6px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #fff;
  font-family: variables.$font-primary;
}

.portfolio-card01 {
  background: url('../../assets/images/card01.png') no-repeat center center/100% auto #7f7dc1;
}

.portfolio-card02 {
  background: url('../../assets/images/card02.png') no-repeat center center/94% auto #b4b4b4;
}

.portfolio-card03 {
  // background: url('../../assets/images/card03.png') no-repeat center center/94% auto #b4b4b4;
  width: 100%;
  height: 400px;
  // object-fit: contain;
  object-position: center;
}

.portfolio-card05 {
  background: url('../../assets/images/card05.png') no-repeat center center/96% auto #e6e38d;
}

.footer-spacing {
  padding-top: 100px !important;
}

@media (max-width: 2560px) {
  .smile-img {
    width: 25px;
  }

  .name-title h2 {
    padding: 140px 0px 12px 0px;
    font-size: 40px;
    line-height: 56px;
  }

  .project-section {
    padding: 100px 0px 0px 0px !important;
  }

  .mail {
    width: 20%;
    font-size: 16px;
  }

  .phone_no {
    width: 80%;
    font-size: 16px;
    padding-top: 0px;
  }

  .passion {
    padding-top: 88px !important;
    padding-bottom: 112px !important;
  }

  .passion-header {
    font-family: variables.$font-seventh;
    font-size: 56px;
    line-height: 72px;
    font-weight: 500;
    padding: 8px 112px 0px 0px;
  }

  .project-intro-spacing {
    padding-top: 100px !important;
    padding-bottom: 80px !important;
  }

  .align-no {
    left: 18%;
  }

  .job-title ul li {
    font-size: 164px;
    font-weight: 800;
    line-height: normal;
  }

  .experience,
  .projects {
    width: 143px;
    padding: 14px 19px 14px 19px;
  }

  .experience h4,
  .projects h4 {
    font-size: 64px;
    line-height: 72px;
  }

  .experience p,
  sub.year,
  .projects p {
    font-size: 16px;
    line-height: 24px;
  }

  .experience img,
  .projects img {
    top: 22px;
    width: auto;
  }

  .exp-card-spacing {
    padding: 56px 0px 0px 0px;
  }

  .project-intro h1 {
    font-size: 56px;
    line-height: 72px;
    padding-bottom: 16px;
  }

  .project-intro p {
    font-size: 24px;
    line-height: 34px;
  }

  h1.slide-title {
    font-size: 64px;
    line-height: 72px;
  }

  .carousel_spacing {
    padding-top: 112px !important;
  }

  .item1 h4 {
    font-size: 32px;
    line-height: 42px;
    left: 32px;
    bottom: 32px;
  }

  .item2 h4,
  .item3 h4 {
    font-size: 40px;
    line-height: 48px;
  }

  .item4 h4,
  .item5 h4,
  .item6 h4 {
    font-size: 24px;
    line-height: 38px;
  }

  .item4-handle,
  .item5-handle,
  .item6-handle {
    width: auto;
  }

  .portfolio-box01 {
    margin-bottom: 40px !important;
    height: 400px;
  }

  .portfolio-header01-spacing {
    margin-bottom: 0px !important;
  }

  .portfolio-card03 {
    height: 400px;
  }

  .portfolio-card01 {
    background: url('../../assets/images/card01.png') no-repeat center center/100% auto #7f7dc1;
  }

  .portfolio-card02 {
    background: url('../../assets/images/card02.png') no-repeat center center/94% auto #b4b4b4;
  }

  .portfolio-card05 {
    background: url('../../assets/images/card05.png') no-repeat center center/96% auto #e6e38d;
  }

  .portfolio-content {
    padding: 48px !important;
  }

  .portfolio-header h2 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 14px;
  }

  .portfolio-subdetails {
    bottom: 48px;
  }

  .portfolio-label li {
    font-size: 16px;
    line-height: 24px;
  }

  .portfolio-value li {
    padding-top: 6px;
    font-size: 24px;
    line-height: 32px;
  }

  .box02-Rspacing {
    padding-right: 20px !important;
  }

  .box02-Lspacing {
    padding-left: 20px !important;
  }

  .footer-spacing {
    padding-top: 100px !important;
  }

  .passion-content {
    padding-bottom: 48px;
  }
}

@media (max-width: 1440px) {
  .smile-img {
    width: 25px;
  }

  .name-title h2 {
    padding: 140px 0px 12px 0px;
    font-size: 40px;
    line-height: 56px;
  }

  .project-section {
    padding: 100px 0px 0px 0px !important;
  }

  .item2 h4,
  .item3 h4 {
    font-size: 40px;
    line-height: 48px;
  }

  .passion-header {
    font-size: 56px;
    line-height: 72px;
    font-weight: 500;
    padding-right: 108px;
    padding-bottom: 0px;
  }

  .passion {
    padding-top: 88px !important;
    padding-bottom: 112px !important;
  }

  .project-intro-spacing {
    padding-top: 100px !important;
    padding-bottom: 80px !important;
  }

  .carousel_spacing {
    padding-top: 112px !important;
  }

  .item1-space,
  .item3-space {
    padding-right: 5px !important;
  }

  .item2-space,
  .item4-space {
    padding-left: 5px !important;
  }

  .item1 h4 {
    font-size: 32px;
    line-height: 38px;
    left: 32px;
    bottom: 32px;
  }

  .item4 h4,
  .item5 h4,
  .item6 h4 {
    font-size: 26px;
    line-height: 40px;
  }

  .item4-handle,
  .item5-handle,
  .item6-handle {
    width: auto;
  }

  .portfolio-box01 {
    margin-bottom: 40px !important;
    height: 400px;
  }

  .portfolio-header01-spacing {
    margin-bottom: 0px !important;
  }

  .portfolio-card03 {
    height: 400px;
  }

  .portfolio-card01 {
    background: url('../../assets/images/card01.png') no-repeat center center/100% auto #7f7dc1;
  }

  .portfolio-card02 {
    background: url('../../assets/images/card02.png') no-repeat center center/94% auto #b4b4b4;
  }

  .portfolio-card05 {
    background: url('../../assets/images/card05.png') no-repeat center center/96% auto #e6e38d;
  }

  .portfolio-content {
    padding: 48px !important;
  }

  .portfolio-header h2 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 14px;
  }

  .portfolio-subdetails {
    bottom: 48px;
  }

  .portfolio-label li {
    font-size: 16px;
    line-height: 24px;
  }

  .portfolio-value li {
    padding-top: 6px;
    font-size: 24px;
    line-height: 32px;
  }

  .box02-Rspacing {
    padding-right: 20px !important;
  }

  .box02-Lspacing {
    padding-left: 20px !important;
  }

  .footer-spacing {
    padding-top: 100px !important;
  }

  .passion-content {
    padding-bottom: 48px;
  }
}

@media (max-width: 1200px) {
  .smile-img {
    width: 25px;
  }

  .no-pad {
    padding: 0px !important;
  }

  .project-section {
    padding: 100px 0px 0px 0px !important;
  }

  .name-title h2 {
    padding: 100px 0px 12px 0px;
    font-size: 40px;
    line-height: 56px;
  }

  .item1-space,
  .item3-space {
    padding-right: 5px !important;
  }

  .item2-space,
  .item4-space {
    padding-left: 5px !important;
  }

  .item2 h4,
  .item3 h4 {
    font-size: 40px;
    line-height: 48px;
  }

  .name-role-spacing {
    padding-bottom: 88px !important;
  }

  .align-no {
    left: 26%;
  }

  .job-title ul li {
    font-size: 150px;
    line-height: normal;
  }

  .mail {
    width: 28%;
    font-size: 16px;
  }

  .phone_no {
    width: 72%;
    font-size: 16px;
    padding-top: 0px;
  }

  .passion {
    padding-top: 84px !important;
    padding-bottom: 108px !important;
  }

  .passion-header {
    font-size: 52px;
    line-height: 60px;
    font-weight: 500;
    padding-right: 100px;
    padding-bottom: 0px;
  }

  .project-intro-spacing {
    padding-top: 90px !important;
    padding-bottom: 72px !important;
  }

  .experience,
  .projects {
    width: 125px;
    padding: 12px 17px 12px 17px;
  }

  .experience h4,
  .projects h4 {
    font-size: 56px;
    line-height: 64px;
  }

  .experience p,
  sub.year,
  .projects p {
    font-size: 14px;
    line-height: 22px;
  }

  .experience img,
  .projects img {
    top: 22px;
    width: auto;
  }

  .exp-card-spacing {
    padding: 50px 0px 0px 0px;
  }

  .project-intro h1 {
    font-size: 56px;
    line-height: 72px;
    padding-bottom: 24px;
  }

  .carousel_spacing {
    padding-top: 108px !important;
  }

  .item1 h4 {
    font-size: 32px;
    line-height: 32px;
    left: 32px;
    bottom: 32px;
  }

  .item1-handle,
  .item2-handle,
  .item3-handle {
    right: 32px;
    bottom: 32px;
  }

  .item4 h4,
  .item5 h4,
  .item6 h4 {
    font-size: 24px;
    line-height: 32px;
  }

  .item4-handle,
  .item5-handle,
  .item6-handle {
    width: auto;
  }

  .all_works_spacing {
    padding-bottom: 160px;
  }

  .social-links li {
    margin-right: 32px;
  }

  .work-card {
    height: 384px;
    // padding: 32px;
  }

  .small-card {
    height: 184px;
    // padding: 10px;
  }

  .container {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
  }

  .portfolio-box01 {
    margin-bottom: 40px !important;
    height: 400px;
  }

  .portfolio-header01-spacing {
    margin-bottom: 0px !important;
  }

  .portfolio-card03 {
    height: 400px;
  }

  .portfolio-card01 {
    background: url('../../assets/images/card01.png') no-repeat center center/100% auto #7f7dc1;
  }

  .portfolio-card02 {
    background: url('../../assets/images/card02.png') no-repeat center center/94% auto #b4b4b4;
  }

  .portfolio-card05 {
    background: url('../../assets/images/card05.png') no-repeat center center/96% auto #e6e38d;
  }

  .portfolio-content {
    padding: 48px !important;
  }

  .portfolio-header h2 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 14px;
  }

  .portfolio-subdetails {
    bottom: 48px;
  }

  .portfolio-label li {
    font-size: 16px;
    line-height: 24px;
  }

  .portfolio-value li {
    padding-top: 6px;
    font-size: 24px;
    line-height: 32px;
  }

  .box02-Rspacing {
    padding-right: 20px !important;
  }

  .box02-Lspacing {
    padding-left: 20px !important;
  }

  .footer-spacing {
    padding-top: 100px !important;
  }

  .passion-content {
    padding-bottom: 48px;
  }
}

@media (max-width: 1024px) {
  .smile-img {
    width: 25px;
  }

  .no-pad {
    padding: 0px !important;
  }

  .project-section {
    padding: 80px 0px 0px 0px !important;
  }

  .name-title h2 {
    padding: 100px 0px 12px 0px;
    font-size: 28px;
    line-height: 40px;
  }

  .passion {
    padding-top: 64px !important;
    padding-bottom: 72px !important;
  }

  .passion-header {
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
    padding-right: 72px;
    padding-bottom: 0px;
  }

  .project-intro-spacing {
    padding-top: 68px !important;
    padding-bottom: 68px !important;
  }

  .carousel_spacing {
    padding-top: 64px !important;
  }

  .item1-space,
  .item3-space {
    padding-right: 5px !important;
  }

  .item2-space,
  .item4-space {
    padding-left: 5px !important;
  }

  .item2 h4,
  .item3 h4 {
    font-size: 40px;
    line-height: 48px;
  }

  .work-card {
    height: 340px;
    // padding: 32px;
  }

  .card-text {
    top: 32px;
    left: 32px;
  }

  .work-card.item1 .card-01 {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .small-card {
    height: 163px;
    // padding: 12px;
  }

  .align-no {
    left: 17%;
  }

  .mail {
    width: 28%;
    font-size: 16px;
  }

  .phone_no {
    width: 72%;
    font-size: 16px;
    padding-top: 0px;
  }

  .experience,
  .projects {
    width: 125px;
    padding: 14px 17px 14px 17px
  }

  .experience h4,
  .projects h4 {
    font-size: 48px;
    line-height: 56px;
  }

  .experience p,
  sub.year,
  .projects p {
    font-size: 12px;
    line-height: 18px;
  }

  .experience img,
  .projects img {
    top: 22px;
    width: auto;
  }

  .name-role-spacing {
    padding-bottom: 16px !important;
  }

  .exp-card-spacing {
    padding: 52px 0px 0px 0px;
  }

  .project-intro h1 {
    font-size: 54px;
    line-height: 68px;
    padding-bottom: 22px;
  }

  .project-intro p {
    font-size: 24px;
    line-height: 34px;
  }

  h1.slide-title {
    font-size: 48px;
    line-height: 52px;
  }

  .all-link {
    font-size: 28px;
    line-height: 32px;
  }

  .all_works_spacing {
    padding-bottom: 120px;
  }

  .pe-lg-8 {
    padding-right: 5.5rem;
  }

  .job-title ul li {
    font-size: 140px;
    line-height: normal;
  }

  .item1 h4 {
    font-size: 28px;
    line-height: 40px;
    left: 24px;
    bottom: 24px;
  }

  .item1-handle,
  .item2-handle,
  .item3-handle {
    right: 24px;
    bottom: 24px;
  }

  .item4 h4,
  .item5 h4,
  .item6 h4 {
    font-size: 24px;
    line-height: 28px;
  }

  .item4-handle,
  .item5-handle,
  .item6-handle {
    width: 32px;
  }

  .social-links li {
    margin-right: 24px;
  }

  .subheading-pading {
    padding-top: 24px !important;
  }

  ::ng-deep .custom-pagination .swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
  }

  ::ng-deep .custom-pagination .swiper-pagination-bullet-active {
    width: 32px !important;
    border-radius: 16px !important;
  }

  .me-3 {
    margin-right: 1rem !important;
  }

  .container {
    padding-right: calc(var(--bs-gutter-x) * 1.5);
    padding-left: calc(var(--bs-gutter-x) * 1.5);
  }

  .portfolio-box01 {
    margin-bottom: 40px !important;
    height: 312px;
  }

  .portfolio-header01-spacing {
    margin-bottom: 0px !important;
  }

  .portfolio-card03 {
    height: 300px;
  }

  .portfolio-card01 {
    background: url('../../assets/images/card01.png') no-repeat center center/100% auto #7f7dc1;
  }

  .portfolio-card02 {
    background: url('../../assets/images/card02.png') no-repeat center center/94% auto #b4b4b4;
  }

  .portfolio-card05 {
    background: url('../../assets/images/card05.png') no-repeat center center/96% auto #e6e38d;
  }

  .portfolio-content {
    padding: 48px !important;
  }

  .portfolio-header h2 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 14px;
  }

  .portfolio-subdetails {
    bottom: 48px;
  }

  .portfolio-label li {
    font-size: 16px;
    line-height: 24px;
  }

  .portfolio-value li {
    padding-top: 6px;
    font-size: 24px;
    line-height: 32px;
  }

  .box02-Rspacing {
    padding-right: 20px !important;
  }

  .box02-Lspacing {
    padding-left: 20px !important;
  }

  .footer-spacing {
    padding-top: 100px !important;
  }

  .passion-content {
    padding-bottom: 48px;
  }
}

@media (max-width: 768px) {
  .smile-img {
    width: 25px;
  }

  .no-pad {
    padding: 0px !important;
  }

  .project-section {
    padding: 64px 0px 0px 0px !important;
  }

  .name-title h2 {
    padding: 100px 0px 12px 0px;
    font-size: 40px;
    line-height: 56px;
  }

  .work-card {
    height: 240px;
    // padding: 12px;
  }

  .small-card {
    height: 113px;
    // padding: 12px;
  }

  .item1 h4 {
    font-size: 24px;
    line-height: 32px;
    left: 18px;
    bottom: 18px;
  }

  .item2 h4,
  .item3 h4 {
    font-size: 32px;
    line-height: 40px;
  }

  .item1-space,
  .item3-space {
    padding-right: 5px !important;
  }

  .item2-space,
  .item4-space {
    padding-left: 5px !important;
  }

  .work-card.item2 .card-02 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .work-card.item4 .card-04 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-text {
    top: 20px;
    left: 24px;
  }

  .item1-handle,
  .item2-handle,
  .item3-handle,
  .item4-handle,
  .item5-handle,
  .item6-handle {
    width: 28px;
  }

  .item1-handle,
  .item2-handle,
  .item3-handle {
    right: 18px;
    bottom: 18px;
  }

  .item4 h4,
  .item5 h4,
  .item6 h4 {
    font-size: 16px;
    line-height: 28px;
    left: 16px;
    bottom: 16px;
  }

  .item4-handle,
  .item5-handle,
  .item6-handle {
    right: 16px;
    bottom: 16px;
  }

  .align-no {
    left: 35%;
  }

  .job-title ul li {
    font-size: 120px;
    line-height: normal;
  }

  .mail {
    width: 36%;
    font-size: 16px;
  }

  .phone_no {
    width: 64%;
    font-size: 16px;
    padding-top: 0px;
  }

  .experience,
  .projects {
    width: 106px;
    padding: 8px 12px 8px 12px;
  }

  .experience h4,
  .projects h4 {
    font-size: 40px;
    line-height: 48px;
  }

  .experience p,
  sub.year,
  .projects p {
    font-size: 12px;
    line-height: 20px;
  }

  .experience img,
  .projects img {
    top: 18px;
    width: 24px;
  }

  .exp-card-spacing {
    padding: 50px 0px 0px 0px;
  }

  .name-role-spacing {
    padding-bottom: 0px !important;
  }

  .project-intro-spacing {
    padding-top: 68px !important;
    padding-bottom: 68px !important;
  }

  .carousel_spacing {
    padding-top: 64px !important;
  }

  .project-intro h1 {
    font-size: 48px;
    line-height: 52px;
    padding-bottom: 22px;
  }

  .project-intro p {
    font-size: 20px;
    line-height: 28px;
  }

  .passion-header {
    font-size: 32px;
    line-height: 44px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  h1.slide-title {
    font-size: 40px;
    line-height: 48px;
  }

  .swiper-slide {
    width: 580px;
  }

  .navi-icons {
    height: 50px;
  }

  .all_works_spacing {
    padding-bottom: 88px;
  }

  .social-links li {
    margin-right: 16px;
  }

  .passion {
    padding-top: 64px !important;
    padding-bottom: 56px !important;
  }

  .subheading-pading {
    padding-top: 24px !important;
  }

  ::ng-deep .custom-pagination .swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
  }

  ::ng-deep .custom-pagination .swiper-pagination-bullet-active {
    width: 32px !important;
    border-radius: 16px !important;
  }

  .sm-text-white {
    font-size: 14px;
  }

  .gmailicon {
    width: auto;
  }

  .me-3 {
    margin-right: 0.8rem !important;
  }

  .container {
    padding-right: calc(var(--bs-gutter-x) * 1.5);
    padding-left: calc(var(--bs-gutter-x) * 1.5);
  }

  .name-title h2 {
    padding: 100px 0px 12px 0px;
    font-size: 26px;
    line-height: 40px;
  }

  .portfolio-box01 {
    margin-bottom: 40px !important;
    height: 240px;
  }

  .portfolio-header01-spacing {
    margin-bottom: 0px !important;
  }

  .portfolio-card03 {
    height: 240px;
  }

  .portfolio-card01 {
    background: url('../../assets/images/card01.png') no-repeat center center/100% auto #7f7dc1;
  }

  .portfolio-card02 {
    background: url('../../assets/images/card02.png') no-repeat center center/94% auto #b4b4b4;
  }

  .portfolio-card05 {
    background: url('../../assets/images/card05.png') no-repeat center center/96% auto #e6e38d;
  }

  .portfolio-content {
    padding: 24px !important;
  }

  .portfolio-header h2 {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 10px;
  }

  .portfolio-subdetails {
    bottom: 24px;
  }

  .portfolio-label li {
    font-size: 14px;
    line-height: 24px;
  }

  .portfolio-value li {
    padding-top: 0px;
    font-size: 16px;
    line-height: 24px;
  }

  .box02-Rspacing {
    padding-right: 20px !important;
  }

  .box02-Lspacing {
    padding-left: 20px !important;
  }

  .footer-spacing {
    padding-top: 100px !important;
  }

  .passion-content {
    padding-bottom: 48px;
  }
}

@media (max-width: 576px) {
  .mail {
    width: 100%;
    font-size: 16px;
  }

  .project-section {
    padding: 56px 0px 0px 0px !important;
  }

  .smile-img {
    width: 22px;
  }

  .swiper-slide {
    width: 512px;
  }

  .subheading-pading {
    padding-top: 12px !important;
  }

  .job-title ul li {
    font-size: 112px;
    line-height: 86px;
  }

  .exp-card-spacing {
    padding: 0px 0px 0px 0px;
  }

  .name-role-spacing {
    padding-bottom: 48px !important;
  }

  .work-card {
    height: 320px;
  }

  .small-card {
    height: 240px;
    // padding: 24px;
  }

  .item1 h4 {
    font-size: 32px;
    line-height: 32px;
    left: 24px;
    bottom: 24px;
  }

  .item1-space,
  .item3-space {
    padding-right: 0px !important;
  }

  .item2-space,
  .item4-space {
    padding-left: 0px !important;
  }

  .item1 h4,
  .item2 h4,
  .item3 h4,
  .item4 h4,
  .item5 h4,
  .item6 h4 {
    font-size: 32px;
    line-height: 40px;
  }

  .item4 h4,
  .item5 h4,
  .item6 h4 {
    left: 24px;
    bottom: 24px;
  }

  .item1-handle,
  .item2-handle,
  .item3-handle,
  .item4-handle,
  .item5-handle,
  .item6-handle {
    width: auto;
  }

  .work-card.item2 .card-02 {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .work-card.item4 .card-04 {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width: 550px) {
  .name-title h2 {
    padding: 72px 0px 12px 0px;
    font-size: 26px;
    line-height: 40px;
  }

  .exp-card-spacing {
    padding: 24px 0px 0px 0px;
  }

  .project-section {
    padding: 24px 0px 0px 0px !important;
  }

  .passion {
    padding-top: 20px !important;
    padding-bottom: 32px !important;
  }

  .passion-header {
    font-size: 32px;
    line-height: 44px;
    padding-right: 0px;
    padding-bottom: 24px;
  }

  .passion-content {
    padding-bottom: 36px;
  }

  .portfolio-box01 {
    margin-bottom: 40px !important;
    height: auto;
    // overflow: hidden;
  }

  .portfolio-card03,
  .portfolio-card01,
  .portfolio-card02,
  .portfolio-card05 {
    height: 240px;
  }

  .portfolio-header01-spacing {
    margin-bottom: 78px !important;
  }

  .box02-Rspacing {
    padding-right: 0px !important;
  }

  .box02-Lspacing {
    padding-left: 0px !important;
  }

  .footer-spacing {
    padding-top: 72px !important;
  }

}

@media (max-width: 430px) {
  .smile-img {
    width: 20px;
  }

  .name-title h2 {
    padding: 56px 0px 12px 0px;
    font-size: 20px;
    line-height: 32px;
  }

  .project-section {
    padding: 16px 0px 0px 0px !important;
  }

  .mail {
    width: 100%;
    font-size: 14px;
  }

  .phone_no {
    width: 100%;
    font-size: 14px;
    padding-top: 8px;
  }

  .name-role-spacing {
    padding-bottom: 26px !important;
  }

  .job-title ul li {
    font-size: 104px;
    line-height: 86px;
  }

  .exp-card-spacing {
    padding: 26px 0px 0px 0px;
  }

  .item1 h4 {
    font-size: 28px;
    line-height: 38px;
    left: 24px;
    bottom: 24px;
  }

  .item2 h4,
  .item3 h4,
  .item4 h4,
  .item5 h4,
  .item6 h4 {
    font-size: 28px;
    line-height: 40px;
  }

  .work-card {
    height: 320px;
  }

  .small-card {
    height: 240px;
    // padding: 24px;
  }

  .item1-space,
  .item3-space {
    padding-right: 0px !important;
  }

  .item2-space,
  .item4-space {
    padding-left: 0px !important;
  }

  .item1-handle,
  .item2-handle,
  .item3-handle,
  .item4-handle,
  .item4-handle,
  .item5-handle,
  .item6-handle {
    right: 24px;
    bottom: 24px;
  }

  .item1-handle,
  .item2-handle,
  .item3-handle,
  .item4-handle,
  .item5-handle,
  .item6-handle {
    width: auto;
  }

  .work-card.item1 .card-01 {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .work-card.item3 .card-03 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .work-card.item4 .card-04 {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .passion {
    padding-top: 16px !important;
    padding-bottom: 8px !important;
  }

  .project-intro-spacing {
    padding-top: 56px !important;
    padding-bottom: 56px !important;
  }

  .carousel_spacing {
    padding-top: 48px !important;
  }

  .swiper-slide {
    width: 350px;
  }

  .subheading-pading {
    padding-top: 4px !important;
  }

  ::ng-deep .custom-pagination .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
  }

  ::ng-deep .custom-pagination .swiper-pagination-bullet-active {
    width: 20px !important;
    border-radius: 8px !important;
  }

  .navi-icons {
    height: 40px;
  }

  .container {
    padding-right: calc(var(--bs-gutter-x) * 1.2);
    padding-left: calc(var(--bs-gutter-x) * 1.2);
  }

  .sm-text-white {
    font-size: 14px;
  }

  .gmailicon {
    width: 16%;
  }

  .me-3 {
    margin-right: 0.6rem !important;
  }

  .all_works_spacing {
    padding-bottom: 56px;
  }

  h1.slide-title {
    font-size: 28px;
    line-height: 28px;
  }

  .sm-text {
    font-size: 14px;
  }

  .subinfo-spacing {
    padding-bottom: 6px;
  }

  .passion-header {
    font-size: 28px;
    line-height: 40px;
    padding-right: 0px;
    padding-bottom: 32px;
  }

  .portfolio-box01 {
    margin-bottom: 40px !important;
    height: auto;
    // overflow: hidden;
  }

  .portfolio-card03,
  .portfolio-card01,
  .portfolio-card02,
  .portfolio-card05 {
    height: 240px;
  }

  .portfolio-header01-spacing {
    margin-bottom: 78px !important;
  }

  .box02-Rspacing {
    padding-right: 0px !important;
  }

  .box02-Lspacing {
    padding-left: 0px !important;
  }

  .footer-spacing {
    padding-top: 72px !important;
  }

  .passion-content {
    padding-bottom: 36px;
  }

  .project-intro h1 {
    font-size: 42px;
    line-height: 52px;
    padding-bottom: 22px;
  }

  .project-intro p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 380px) {
  .work-card.item3 .card-03 {
    width: 100%;
    height: 88%;
    object-fit: cover;
  }
}

@media (max-width: 362px) {
  .smile-img {
    width: 20px;
  }

  .sm-text {
    font-size: 13px;
  }

  .project-section {
    padding: 32px 0px 0px 0px !important;
  }

  .subinfo-spacing {
    padding-bottom: 4px;
  }

  .work-card {
    height: 284px;
  }

  .passion {
    padding-top: 16px !important;
    padding-bottom: 32px !important;
  }

  .name-role-spacing {
    padding-bottom: 32px !important;
  }

  .swiper-slide {
    width: 324px;
  }

  .item1 h4 {
    font-size: 28px;
    line-height: 56px;
    left: 16px;
    bottom: 16px;
  }

  .item2 h4,
  .item3 h4,
  .item4 h4,
  .item5 h4,
  .item6 h4 {
    font-size: 28px;
    line-height: 40px;
  }

  .work-card.item3 .card-03 {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .name-title h2 {
    padding: 56px 0px 12px 0px;
    font-size: 16px;
    line-height: 24px;
  }

  .job-title ul li {
    font-size: 92px;
    line-height: 86px;
  }

  .passion-content {
    padding-bottom: 32px;
  }

  .portfolio-card03,
  .portfolio-card01,
  .portfolio-card02,
  .portfolio-card05 {
    height: 222px;
  }

  .footer-spacing {
    padding-top: 48px !important;
  }

  .project-intro h1 {
    font-size: 42px;
    line-height: 52px;
    padding-bottom: 22px;
  }

  .project-intro p {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio-label li {
    font-size: 14px;
    line-height: 24px;
  }

  .portfolio-value li {
    padding-top: 0px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 325px) {
  .smile-img {
    width: 20px;
  }

  .project-section {
    padding: 56px 0px 0px 0px !important;
  }

  .swiper-slide {
    width: 290px;
  }

  .work-card {
    height: 250px;
  }

  .item1 h4 {
    font-size: 28px;
    line-height: 54px;
    left: 16px;
    bottom: 16px;
  }

  .item2 h4,
  .item3 h4,
  .item4 h4,
  .item5 h4,
  .item6 h4 {
    font-size: 28px;
    line-height: 32px;
  }

  .portfolio-label li {
    font-size: 12px;
    line-height: 24px;
  }

  .portfolio-value li {
    padding-top: 0px;
    font-size: 14px;
    line-height: 24px;
  }
}

.row,
.row>*,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-4,
.col-6,
.col-8,
.col-10,
.col-12 {
  padding-left: 0px;
  padding-right: 0px;
}